    /* div {
        float: left;
        background: red;
    } */
    /* #main{
        margin: auto !important;
        align-items: center;
    } */
    /* .h1 {
        text-align: center;
    }
    
    .p-3 {
        width: 80%;
        height: 40px;
        color: black;
        margin: auto;
        align-items: center;
    } */





#main{
    text-align: center;
    /* align-items: center; */
}
.btn{
    box-sizing: 10px;
}